<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084990280651-30ccnpj047soeae7dh2uqma7nn6ttpaj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084990280651-30ccnpj047soeae7dh2uqma7nn6ttpaj</string>
	<key>API_KEY</key>
	<string>AIzaSyAZXIlpWGCoKWghAcqqMW2otnxzlUf4Vx4</string>
	<key>GCM_SENDER_ID</key>
	<string>1084990280651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>don.kusao2-1.Studyminus</string>
	<key>PROJECT_ID</key>
	<string>studyminus</string>
	<key>STORAGE_BUCKET</key>
	<string>studyminus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084990280651:ios:e8a020214ce922962e1c4e</string>
	<key>DATABASE_URL</key>
	<string>https://studyminus.firebaseio.com</string>
</dict>
</plist>